<a href="https://colab.research.google.com/github/Tejas2901/Smart_joules/blob/main/21f1003181_smart_joules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Outline
1. Import Libraries
2. Load the dataset
3. Split the data for each type of building

## 1. Imports

In [1]:
import numpy as np
import pandas as pd

##

In [6]:
data = pd.read_csv("test.csv")

In [13]:
tata= pd.read_excel('https://docs.google.com/spreadsheets/d/1ec4rYKlYbrZkMlA8ypdXSah7FmEk5Cu1ycTzjrkpQOc/edit?usp=sharing')

ValueError: ignored

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498513 entries, 0 to 498512
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   building_id    498513 non-null  int64
 1   meter          498513 non-null  int64
 2   timestamp      498513 non-null  object
 3   meter_reading  498513 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 15.2+ MB

In [10]:
data.isnull().sum()

building_id      0
meter            0
timestamp        0
meter_reading    0
dtype: int64

In [11]:
data.describe()

         building_id          meter  meter_reading
count  498513.000000  498513.000000   4.985130e+05
mean      813.646820       0.657554   1.994749e+03
std       426.419227       0.933705   9.220850e+04
min         0.000000       0.000000   0.000000e+00
25%       414.000000       0.000000   1.210720e+01
50%       907.000000       0.000000   6.197520e+01
75%      1197.000000       1.000000   2.160000e+02
max      1448.000000       3.000000   8.243400e+06

In [8]:
len(data['building_id'].unique())

1429

# New Section